body {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    background-color: #171717;

    -webkit-animation: fade-in 1.5s linear; /* Safari 4+ */
    -moz-animation: fade-in 1.5s linear; /* Fx 5+ */
    -o-animation: fade-in 1.5s linear; /* Opera 12+ */
    animation: fade-in 1.5s linear; /* IE 10+, Fx 29+ */
  }
  @-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
  @-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
  @-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
  @keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #ffffff;
}

.container {
    width: 100%;
    max-width: 1820px;
    margin: 0 auto;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}
section {
    margin: 30px 0;
}


/*================== header =============*/

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10px;
}
.nav ul li {
    list-style: none;
}
.nav ul:first-child {
    padding: 0;
}
.navbar li{
    padding-bottom: 20px;
}
.navbar a {
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s ease-in-out 0s;
}
.navbar a:hover {
    color: #20c997;
    transition: all 0.2s ease-in-out 0s;
}
.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
}
.nav-list .fa-angle-down {
    color: #20c997;
}
.nav-list .gallery {
    color: #20c997;
    display: flex;
    align-items: center;
    margin-top: 2px;
    padding-bottom: 20px;
}
.nav-list .fa-angle-down {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    
}

.nav-list a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.2s ease-in-out 0s;
    
}
.nav-list a:hover {
    color: #20c997;
    transition: all 0.2s ease-in-out 0s;
}

.icons-list {
    display: flex;
    list-style: none;
    padding-bottom: 20px;
}

.icons-list a {
    color: #ffffff;
    font-size: 18px;
    margin-left: 15px;
}
.icons-list .fa-facebook-f{
    transition: all 0.2s ease-in-out 0s;
}
.icons-list .fa-facebook-f:hover {
    color: #3b5998;
    transition: all 0.2s ease-in-out 0s;
}
.icons-list .fa-twitter {
    transition: all 0.2s ease-in-out 0s;
}
.icons-list .fa-twitter:hover {
    color: #1da1f2;
    transition: all 0.2s ease-in-out 0s;  
}
.icons-list .fa-youtube {
    transition: all 0.2s ease-in-out 0s;
}
.icons-list .fa-youtube:hover {
    color: #c4302b;
    transition: all 0.2s ease-in-out 0s;
}
.icons-list .fa-instagram {
    transition: all 0.2s ease-in-out 0s;
}
.icons-list .fa-instagram:hover {
    transition: all 0.2s ease-in-out 0s;
    color: #3f729b;
}
/* -- dropdown ---*/ 
/* скрываем выпадающие списки по умолчанию
 * и задаем абсолютное позиционирование */
.dropdown {
    display: none;
	position: absolute;
    top: 7%;
    list-style: none;
    padding: 0;
    width: 150px;
    height: 250px;
    background-color: #171717;
    z-index: 99999;
    border: 1px solid #20c997;
    border-top: none;
}
			
/* отображаем выпадающий список при наведении */
nav ul li:hover > .dropdown {
    display: block;
    position: absolute;
}
			
.dropdown li {
    min-width:170px;
	float:none;
	display:block;
    margin-top: 20px;
}
   
/* ====== responsve menu ====*/
.hamburger {
    background: none;
    font-size: 26px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    display: none;
}
.hamburger:focus {
    outline: none;
} 
@media screen and (max-width: 800px) {
    .nav-list {
        display: none;
        width: 100%;
    }
    .nav-list a {
        margin: 0;
    }
    .nav-list li {
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .icons-list {
        display: none;
        width: 100%;
    }
    .hamburger {
        display: block;
        padding-bottom: 20px;
    }
    .nav-list.show {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
    .icons-list.show {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }
    nav ul li:hover > .dropdown {
        position: relative;
    }
    .nav-list li {
        margin-bottom: 20px;
    }
    .nav-list .gallery {
        padding-bottom: 0;
    }
    .gallery {
        justify-content: center;
        padding-left: 15px;
    }
    
    .dropdown {
        position: relative;
        width: 170px; 
        margin: 0 auto;  
        height: auto;
    }
    .dropdown li {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .dropdown li a{
        margin: 0;
    }
}

/* ================== main-section ===========*/
.main-section {
    margin-bottom: 150px;
}
.row-1 {
    display: flex;
    justify-content: space-between;
}
.row-2 {
    display: flex;
    justify-content: space-between;
}
.block {
    width: auto;
    height: auto;
    margin: 10px;
    transition: all 0.3s ease-in-out 0s;
    overflow: hidden;
    position: relative;
    
}
.block img {
    filter: grayscale(100%) brightness(0.7);
    transform: scale(1);
    transition: all ease-in-out 0.3s 0s;
}
.block img:hover {
    filter: none;
    transition: all 0.3s ease-in-out 0s;
    transform: scale(1.1);
    filter: brightness(0.8) contrast(150%);
}
.block-overlay {
    position: absolute;
    z-index: 999;
    text-align: center;
    bottom: 45%;
    left: 0;
    right: 0;
    
}
.block-overlay:hover img {
    transition: all 0.3s ease-in-out 0s;
    transform: scale(1.1);
    filter: brightness(0.8) contrast(150%);
}

.block-title{
    font-size: 30px;
}

.block-button {
    background: none;
    color: #ffffff;
    font-size: 20px;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out 0s;

}
.block-button:hover {
    background-color: #ffffff;
    color: #171717;
    transition: all 0.3s ease-in-out 0s;
}
/* ================= footer =============*/ 
.footer-inner {
    display: flex;
    align-items: center;
    justify-content: center; 
}
.footer-inner h4 {
    margin-right: 5px;
    border-right: 1px solid #ffffff;
    padding-right: 10px;
}
.footer-inner p {
    margin-left: 10px;
}

/* ================ about page ========*/
.about-page-title {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    font-size: 36px;
    font-weight: 200;
}
.about-page-inner {
    display: flex;
    justify-content: space-around;
}
.about-image {
    width: 750px;
    height: 1000px;
    overflow: hidden;
}
.about-image img{
    width: 750px;
    height: 1000px;
    filter: grayscale();
    transition: all 0.3s ease-in-out 0s;
    
}
.about-image img:hover {
    transition: all 0.3s ease-in-out 0s;
    filter: none;
    transform: scale(1.1);
}
.about-info {
    width: 700px;
    position: relative;
    top: 200px;
    margin-left: 20px;
    
}
.about-info-title {
    font-weight: 200;
    font-size: 26px;
}
.about-text-1 {
    color: gray;
    letter-spacing: 1px;
}
.about-text-2 {
    color: gray;
    letter-spacing: 1px;
}
.about-owner {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    
}
.about-owner-block {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}
.about-owner-block div:first-child  {
    overflow: hidden;
    width: 300px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
}

.about-owner-block-image img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    filter: grayscale();
    transition: all 0.3s ease-in-out 0s;
    justify-content: center;
}
.about-owner-block-image img:hover {
    transition: all 0.3s ease-in-out 0s;
    filter: none;
    transform: scale(1.2);
}
.about-owner-block p {
    text-align: center;
    width: 100%;
    margin: 10px auto;
    font-size: 16px;
}
.about-owner-icons {
    justify-content: center;
}

/* ======== services =======*/
.services-title {
    text-align: center;
    font-size: 46px;
    font-weight: 200;
    margin-top: 100px;
    margin-bottom: 50px;
}
.services-row-1 {
    display: flex;
}
.services-row-2 {
    display: flex;
}
.services-card {
    text-align: center;
    width: 33%;
    background-color: #494849;
    padding: 40px 0;
    margin: 10px;
}
.services-card .fa-hippo {
    width: 50px;
    height: 50px;
    color: #20c997;
    transition: all 0.3s ease-in-out 0s;
}
.services-card .fa-hippo:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out 0s;
}
.services-card .fa-camera {
    width: 50px;
    height: 50px;
    color: #20c997;
    transition: all 0.3s ease-in-out 0s;
}
.services-card .fa-camera:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out 0s;
}
.services-card .fa-portrait {
    width: 50px;
    height: 50px;
    color: #20c997;
    transition: all 0.3s ease-in-out 0s;
}
.services-card .fa-portrait:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out 0s;
}
.services-card .fa-suitcase {
    width: 50px;
    height: 50px;
    color: #20c997;
    transition: all 0.3s ease-in-out 0s;
}
.services-card .fa-suitcase:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out 0s;
}
.services-card .fa-video {
    width: 50px;
    height: 50px;
    color: #20c997;
    transition: all 0.3s ease-in-out 0s;
}
.services-card .fa-video:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out 0s;
}
.services-card .fa-image {
    width: 50px;
    height: 50px;
    color: #20c997;
    transition: all 0.3s ease-in-out 0s;
}
.services-card .fa-image:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out 0s;
}

.card-text {
    margin: 0 20px;
    color:lightgrey;
}
.card-price {
    color: #20c997;
    font-weight: 600;
    font-size: 20px;
}
/*=========== contact =======*/
.contact-title {
    text-align: center;
    font-weight: 200;
    font-size: 46px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.contact-inner {
    display: flex;
    justify-content: space-around;
}
.contact-form {
    width: 800px;
}
.contact-info {
    margin-left: 20px;
}
.names {
    display: flex;
    justify-content: space-between;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}
input {
    width: 100%;
    background: none;
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 2%;
    height: 40px;
    transition: all 0.3s ease-in-out 0s;
}
input:focus {
    border: 1px solid #20c997;
    transition: all 0.3s ease-in-out 0s;
}
.first-name {
    width: 40%;
}
.last-name {
    width: 40%;
}
textarea {
    width: 100%;
    resize: vertical;
    min-height: 100px;
    height: 100px;
    max-height: 200px;
    background: none;
    border: 1px solid #ffffff;
    outline: none;
}
textarea:focus {
    border: 1px solid #20c997;
    transition: all 0.3s ease-in-out 0s;
}
.contact-btn {
    background-color: #20c997;
    border: 1px solid #20c997;
    color: #ffffff;
    height: 60px;
    width: 160px;
    font-size: 18px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out 0s;
}
.contact-btn:hover {
    transition: all 0.3s ease-in-out 0s;
    background: none;
    cursor: pointer;
}
.info-address {
    color: gray;
    width: 80%;
}
.phone-number {
    color: #20c997;
}
.email-address {
    color: #20c997;
}
/* ========= nature gallery =====*/ 
.nature-title {
    font-weight: 200;
    font-size: 46px;
    text-align: center;
}
#lightgallery {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    text-align: center;
    margin-top: 50px;
}
#lightgallery a {
    text-decoration: none;
}
.lightgallery-1 {
    display: flex;
}
.lightgallery-1 img {
    width: 20%;
    height: auto; 
    margin: 5px;
    filter: grayscale();
    transition: all 0.3s ease-in-out 0s;
}
.lightgallery-1 img:hover {
    transition: all 0.3s ease-in-out 0s;
    filter: none;
    transform: scale(1.1);
}
.lightgallery-1 a {
    margin: 10px;
}

/* ========= people gallery =====*/ 
.people-title {
    font-weight: 200;
    font-size: 46px;
    text-align: center;
}
/* ========= portrait gallery =====*/ 
.portrait-title {
    font-weight: 200;
    font-size: 46px;
    text-align: center;
}
/* ========= architecture gallery =====*/ 
.architecture-title {
    font-weight: 200;
    font-size: 46px;
    text-align: center;
}
/* ========= animamls gallery =====*/ 
.animals-title {
    font-weight: 200;
    font-size: 46px;
    text-align: center;
}
/* ========= sport gallery =====*/ 
.sport-title {
    font-weight: 200;
    font-size: 46px;
    text-align: center;
}
/* ======= media ======*/
@media screen and (max-width: 1200px) {
    .about-image {
        width: 600px;
        height: 900px;
    }
    .about-info {
        width: 40%;
        margin-left: 10px;
    }
    .about-owner-block p {
        margin: 10px 10px;
    }
}
@media screen and (max-width: 1100px) {
    .about-info {
        margin-left: 10px;
        width: 40%;
        height: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .block-title {
        font-size: 24px;
    }
    .block-button {
        font-size: 14px;
    }
    .services-row-1 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .services-row-2 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .services-card {
        width: 75%;
    }
    .about-page-inner {
        justify-content: space-around;
        height: 600px;
    }
    .about-image img {
        width: 100%;
        height: auto;
    }
    .about-owner-block div:first-child  {
        width: 150px;
    }
    .about-info {
        top: 100px;
        width: 80%;
        margin-left: 50px;
    }
    .about-owner-block {
        margin-top: 0;
    }
    .about-owner-block p {
        font-size: 14px;
        margin: 10px 10px;
    }
    .lightgallery-1 img {
        width: 30%;
    }
}
@media screen and (max-width: 900px) {
    .main-section-inner {
        margin-bottom: 0;
    }
    .row-1{
        flex-wrap: wrap;
        justify-content: center;
    }
    .row-2 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .block {
        width: 80%;
    }
    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        padding-top: 30px;
    }
    .about-owner {
        margin-top: 600px;
        flex-wrap: wrap;
    }
    .about-page-inner {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .about-info {
        top: 10px;
        margin-left: 0;
    }
    .about-owner-block div:first-child  {
        width: 200px;
    }
    .about-owner-block-image img {
        width: 100%;
        height: auto;
    }
    .about-owner-block p {
        width: 70%;
        margin: 10px auto;
    }
    
}
@media screen and (max-width: 800px) {
    .about-owner .icons-list {
        display: flex;
    }
    .contact-inner {
        flex-wrap: wrap-reverse;
        margin: 0 20px;
    }
    .contact-info {
        text-align: center;
        margin: 0;
    }
    .info-address {
        width: 100%;
    }
    .lightgallery-1 img {
        width: 90%;
    }
}
@media screen and (max-width: 610px) {
    .about-owner {
        margin-top: 500px;
    }
    .about-image {
        height: 700px;
    }
}
@media screen and (max-width: 540px) {
    .block-overlay {
        bottom: 40%;
    }
    .block-title {
        font-size: 20px;
    }
    .block-button {
        font-size: 13px;
    }
    .about-info p {
        font-size: 14px;
    }
}
@media screen and (max-width: 480px) {
    .about-image {
        height: 600px;
    }
    .about-owner {
        margin-top: 400px;
    }
}
@media screen and (max-width: 440px) {
    .block-button {
        font-size: 12px;
    }
}
@media screen and (max-width: 400px) {
    .about-image {
        height: 500px;
    }
    .about-owner {
        margin-top: 300px;
    }
    .footer-inner {
        font-size: 14px;
    }
}
@media screen and (max-width: 350px) {
    .about-info p {
        font-size: 12px;
    }
    .about-image {
        height: 400px;
    }
    .about-owner {
        margin-top: 200px;
    }
}